
{% for row in articulos %}
                        
    <tr>
        <td> <a href="#" data-toggle="modal" data-target="#modaledit{{row.0}}"> {{row.3}} </a> </td> 
        <td>{{row.15}}</td>
        <td>{{row.9}}</td>
    </tr>

    
    <div id="borrar{{row.0}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Borra el Registro ?</h4>
                </div>
                <div class="modal-body">
                    <form name="borra" action="/delete_art/{{row.0}}"  method="POST" >
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">borrar</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>         
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Edit Artículo-->
    <div id="modaledit{{row.0}}" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Editando Datos</h4>
                </div>
    
                <div class="modal-body">
                    <form name="editcli" action="{{url_for('update_art')}}"  method="POST" >
                        <div class="form-group">
                            <input type="hidden"  name="id_art" value="{{row.0}}">
                            <input type="hidden"  name="codigo" value="{{row.1}}">
                        </div>
                        <div class="form-group">
                            <label>Artículo:</label>                                 
                            <input type="text" class="form-control" name="articulo" value="{{row.3}}">
                        </div>

                        <div class="form-group">
                            <label>Cantidad:</label>
                            <input type="number"  step="0.01" min="0" class="form-control" name="Cantidad">
                        </div>

                        <div class="form-group">
                            <label>Precio :</label>
                            <input type="number" step="0.01" min="0"  class="form-control" name="precio" value="{{row.9}}">
                        </div>
                        
                        <div class="form-group">
                            <label>% Descuento:</label>
                            <input type="number" step="0.01" min="0" class="form-control" name="dto">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Agregar</button>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Salir</button>                                                      
                </div>
            </div>                         
        </div>
    </div>
                            
                            
{% endfor %}
